<template>
    <div>
                <h1>Formulario de citas médicas en línea </h1>
        <div class="bg-agile">
        <div class="book-appointment">
        <h2>Hacer una cita</h2>
        <form action="#" method="post" name="appointment" id="appointment">
        <div id="resultados_ajax" class="gaps"></div>
        <div class="left-agileits-w3layouts same">
        <div class="gaps">
        <p>Nombre del paciente</p>
        <input type="text" name="name" placeholder="" required="" />
        </div>
        <div class="gaps">
        <p>Número de teléfono</p>
        <input type="text" name="number" placeholder="" required="" />
        </div>
        <div class="gaps">
        <p>E-mail</p>
        <input type="email" name="email" placeholder="" required="" />
        </div>
        <div class="gaps">
        <p>Síntomas</p>
        <textarea name="symptoms" placeholder="" required=""></textarea>
        </div>
        </div>
        <div class="right-agileinfo same">
        <div class="gaps">
        <p>Seleccionar fecha</p>
        <input id="datepicker1" name="datepicker1" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
        </div>
        <div class="gaps">
        <p>Departamento</p>
        <select class="form-control" name="departament">
        <option></option>
        <option value="Cardiología">Cardiología</option>
        <option value="Oftalmología">Oftalmología</option>
        <option value="Neurología">Neurología</option>
        <option value="Psicología">Psicología</option>
        <option value="Dermatología">Dermatología</option>
        </select>
        </div>
        <div class="gaps">
        <p>Genero</p>
        <select class="form-control" name="gender" required>
        <option></option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
        </select>
        </div>
        <div class="gaps">
        <p>Hora</p>
        <input type="text" id="timepicker" name="time" class="timepicker form-control" value="">
        </div>
        </div>
        <div class="clear"></div>
        <input type="submit" value="Realizar cita">
        </form>
        </div>
        </div>

    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
export default {
    name: 'ResgitroPacientes',
    mounted(){
        const plugin = document.createElement('script')
        plugin.setAttribute('src','/js/myscripts/jquery-2.1.4.min.js')
        plugin.setAttribute('src','/js/myscripts/wickedpicker.js')
        plugin.setAttribute('src','/js/myscripts/jquery-ui.js')
        plugin.async = true
        document.head.appendChild(plugin)
    },
    mounted(){
        const plugin = document.createElement('script')
        plugin.setAttribute('src','/js/myscripts/jquery-ui.js')
        plugin.async = true
        document.head.appendChild(plugin)
    }
}
</script>

<style lang="scss" scoped>

</style>