<!---<template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" v-model="form.name">
        </div>
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <div>
            <label for="password">Confirmar Contraseña</label>
            <input type="text" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation">
        </div>
        <button type="submit">Registrarse</button>
    </form>
</template>--->
<template>
<div>
     <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">REGISTRARSE PARA ingresar</h3></div>
                                    <div class="card-body">
                                    <form action="#" @submit.prevent = "submit">
                                    <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                        <div>
                                            <label for="name">Nombre</label>
                                            <input type="text" name="name" id="name" v-model="form.name">
                                        </div>
                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                        <div>
                                            
                                            <label for="email">Correo electronico</label>
                                            <input type="email" name="email" id="email" v-model="form.email">
                                        </div>
                                        </div>
                                        <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                        <div>
                                            <label for="password">Contraseña</label>
                                            <input type="text" name="password" id="password" v-model="form.password">
                                            </div>
                                                </div>
                                        </div>
                                        <div class="col-md-6">
                                                    <div class="form-group">
                                        <div>
                                            
                                            <label for="password">Confirmar Contraseña</label>
                                            <input type="text" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation">
                                        </div>
                                        </div>
                                                </div>
                                            </div>
                                            <div class="form-group mt-4 mb-0" type="submit">REGISTRARSE</div>
                                        <button type="submit">Registrarse</button>
                                    </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        
                                        <div class="small"><a href="login.html">Have an account? Go to login</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
</div>
</template>
<script>
import {mapActions} from 'vuex'
export default {
    name:'SignUp',
    data(){
         return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            }
        }
    },
    methods:{
        ...mapActions({
            send:'auth/signUp'
        }),
        async submit(){
            await this.send(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>
