<!--<template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <button type="submit">Iniciar Session</button>
    </form>
</template>-->

<!--<template>
	<div>
	<NavHome :color="color"/>
	<div class="limiter" style="padding-top: 2%;">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form"  @submit.prevent = "submit">
					<span class="login100-form-title p-b-34">
                        Identifiquese para ingresar
					</span>
					
					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="email" class="input100" type="email" name="email" placeholder="Correo Electronico" v-model="form.email" autocomplete="off">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Password" autocomplete="off">
						<input class="input100" type="password" name="password"  id="password" placeholder="Password"  v-model="form.password">
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Inicio de Sesion
						</button>
					</div>

					<div class="w-full text-center p-t-27 p-b-239">
						<span class="txt1">
							Forgot
						</span>

						<a href="#" class="txt2">
							User name / password?
						</a>
					</div>

					<div class="w-full text-center">
						<a href="#" class="txt3">
							Sign Up
						</a>
					</div>
				</form>

				<div class="login100-more img-login"></div>
			</div>
		</div>
	</div>
	</div>
</template>-->
<template>
<div>
	<div class="container-portada">
        <div class="capa-gradient"></div>
        <div class="container-details">
	<div class="container">
    <NavHome :color="color"/>
    <hr>
    <br>
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form action="#" @submit.prevent ="submit">  
                                          <div> 
                                              <label for="email">Correo Electronico</label>
                                              <input type="email" name="email" id="email" v-model="form.email">
                                          </div>
                                          <div> 
                                              <label for="password">Password</label>
                                              <input type="text" name="password" id="password" v-model="form.password">
                                          </div>
                                          <button type="submit">Iniciar Seccion</button>
                                        <hr>
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register.html">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
</template>

<script>
import {mapActions} from 'vuex'
import NavHome from '../components/NavHome'
export default {
	name:'SignIn',
	components:{NavHome},
    data(){
        return {
            form:{
                email:'',
                password:''
			},
			color:'black'
        }
    },
    methods:{
        ...mapActions({
            signIn:'auth/signIn'
        }),
        async submit(){
            console.log('ENVIANDO FORMULARIO')
            console.log(this.form)
            await this.signIn(this.form)
            this.$router.replace({name:'dashboard.post'})
        }
    }
}
</script>